body{ 
    overflow-x: hidden;
}

.header{ 
    padding:5px 8px;
    
    background-color: white;
}
.header a img{ 
    padding:5px 8px;
}


.header .input-group .form-control{ 
    box-shadow: none;
}
.sidebar{ 
    padding-top: 63px;
    overflow-y: auto;
    width:250px;
    height:100%;
    left:0px;
    top:0px;
    position:fixed;
    z-index: 9;
}
.sidebar .images  a{ 
    text-decoration: none;
    color:black;
    padding:5px 7px;
    text-align: center;
    font-size: 14px;
}
.sidebar .images a img{ 
    color:black;
    padding:10px 10px;
    align-items: center;
}
.sidebar .images:hover { 
    background-color: lightcyan;
}
.buttons{ 
    padding-left: 250px;
    margin-top: 50px;


}
.buttons .btn btn-icon{ 
border-radius: 10px;
padding: 10px 10px;

}
.content{ 
    padding-left: 250px;
    margin-top:30px;
}

.content .thumbnail-card .text .views{ 
    margin-left: 50px;
    margin-bottom: 30px;
}
.content .thumbnail-card .text img{ 
    margin-left: 15px;
    margin-top: 10px;
}
.sidebar{ 
    display: block;
}
@media screen and (max-width:768px) {
    .sidebar{ 
display:none;



    }
    .content,.buttons{
        padding-left: 0px;
    }
    .header a img{ 
        padding: 0px;
    }
    .content{ 
        margin-top: 0px;
    }
    .sidebar{ 
        padding-top: 0px;
    }
    .buttons{ 
        padding-left: 0px;
        margin-top: 0px;
    }


}
.btn-pill{
    border-radius: 30px;
    padding: 5px 20px;
    border-color: #ccc;
}